@font-face {
    font-family: dayrom;
    src: url(/assets/dayrom__.ttf);
}

body{
    font-family: dayrom;
}

h1{
    text-align: center;
    padding-left: 10px;
}

nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    padding: 0;
}

nav ul li a{
    padding: 0.5em;
    padding-bottom: 0%;
    margin: 10px;
    text-decoration: none;
}

nav ul li img{
    background-color: #49955d;
    border-radius: 10px;
    display: flex;
    width: 160%;
}

.spullen nav ul li img{
    width: 160%;
}

header{
    justify-content: center;
}

.logogroot{
    width: 70%;
}

h2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}

p{
    font-size: 10px;
}       

h3{
    font-size: 15px;
}

body {
    background-color: #73c088;
}

header{ 
    width: 100%;
    display: flex;
}

image:nth-last-of-type(1){
    display: flex;
    justify-content: center;
    align-items: center;
}

main section{
    margin-top: 1em;
    background-color: #49955d;
    border-radius: 1em;
    padding: 1em;
    margin-bottom: 1em;
}

.fotos{
    display: flex;
    justify-content: space-evenly;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #49955d;
    border-radius: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.kleding1{
    width: 30%;
}

.kast1{
    width: 30%;
}

.kast2{
    width: 30%;
}

.spullen img{
    width: 50%;
}

header img{
    width: 70%;
}

.spullen header img{
    width: 70%;
}

.winkel{
    width: 100%;
}

footer{
    display: flex;
    justify-content: space-evenly;
    background-color: #235d3a;
    font-size: 10px;
    list-style-type: none;
    text-decoration: none;
    color: #efefef;
}

.spullen footer section{
   display: block;
}

footer ul{
    padding: 0
}

footer ul li{
    list-style: none;
}

label, form > input, select{
    width: 60%;
}

label{
    display: block;
}

.spullen section{
    display: flex;
    flex-direction: row;
}

.spullen div{
    display: flex;
    flex-direction: column;
    width: 40%;
    padding-left: 1em;
}

.spullen section:nth-of-type(1){
flex-direction: column;
}

